html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #3C0C3E; /* Change text color to #3C0C3E */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Roboto Mono", monospace;
    background-color: rgb(253, 241, 243);
    overflow-y: auto;
    scroll-behavior: smooth;
}

#lockScreen, #content {
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#lockScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo {
    width: 20vw; /* Adjust for mobile using viewport width */
    max-width: 100px; /* Optional, to limit max width */
    margin-bottom: 20px;
}

#passwordInput {
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #3C0C3E; /* Border color for input */
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 80%; /* Adjust for mobile */
    max-width: 300px; /* Optional, to limit max width */
}

#unlockButton {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 10px;
    background: linear-gradient(45deg, #FF8C8C, #FF3D3D);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%; /* Adjust for mobile */
    max-width: 300px; /* Optional, to limit max width */
}

#content {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 200px; /* Adjust for mobile */
}

#logoContent {
    width: 20vw; /* Adjust for mobile using viewport width */
    max-width: 100px; /* Optional, to limit max width */
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

p {
    margin: 0 20px;
    text-align: justify;
    font-size: 0.9em; /* Adjust for mobile */
}

#gameBoard {
    display: flex;
    justify-content: space-between; /* Ensure horizontal alignment */
    align-items: center;
    gap: 2vw; /* Small gap for mobile, using viewport width */
    margin: 20px 0;
    width: 90vw; /* Ensure the game board takes up most of the screen width */
    max-width: 600px; /* Optional, to limit max width */
}

.selectable {
    width: 15vw; /* Adjust for mobile using viewport width */
    max-width: 70px; /* Optional, to limit max width */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
    display: block;
    margin: 0;
}

#gradientOverlay {
    width: 90%; /* Make the overlay width responsive */
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -20px;
    display: block;
}

.gradient-label {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px); /* Same width as the body text (20px padding on each side) */
    max-width: calc(600px - 40px); /* Optional, to limit max width */
    margin: 10px 20px; /* Align with body text margin */
    position: relative;
}

.label {
    position:relative;
    margin: -20px;
    z-index: 1;
}

.gradient-label span {
    font-size: 0.9em; /* Adjust for mobile */
}

#message {
    font-size: 1em; /* Adjust for mobile */
    color: red;
    opacity: 0;
    transition: opacity 1s linear;
    position: absolute; /* Use absolute to position relative to the container */
    margin-top: 100px;
    display: none;
    width: 80%; /* Adjust for mobile */
    max-width: 300px; /* Optional, to limit max width */
}

#img8 {
    transition: opacity 1s linear;
    width: 20vw; /* Adjust for mobile using viewport width */
    max-width: 100px; /* Optional, to limit max width */
    position: relative;
}

.test {
    margin-top: 100px; /* Adjust for mobile */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Define specific font styles */
.roboto-mono-bold {
    font-weight: 700;
    margin: 20px;
}

.roboto-mono-italic {
    font-style: italic;
}

.roboto-mono-light {
    font-weight: 300;
}

.roboto-mono-regular {
    font-weight: 400;
}

/* animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
